*{
    margin: 0;
    padding: 0;
}
.banner{
    background-color: teal;
    height: 30px;
}

.banner h3{
    margin-left: 15px;
}

/* graphics */
.graphics{
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.barChart{
    height: 100%;
    width: 50%;
    margin-left: 10px;
}

.TenTracker{
    height: 100%;
    width: 50%;
    font-size: 24px;
}
/* .TenTracker ol{
    margin-left: 50%;
} */
.TenTracker h5{
    margin-left: 35%;
}
.shot-total{
    font-size: 24px;
}

.score-input{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 40vw;
    overflow-y: scroll;
    height: 200px;
    margin-top: 20px;
}

.score-input input{
    width: 50px;
    margin-top: 3px;
    font-size: 24px;
}

@media screen and (max-width: 670px){
    .graphics{flex-direction: row;}
    .barChart{width: 90%;}
    .scoreboard{width: 100%; margin-left: 0%; display: flex; flex-direction: column; align-items: center;}
    .TenTracker{width: 100%; display: flex; flex-direction: column; align-items: center;}
    /* .TenTracker ol {margin-left: auto;} */
    .TenTracker h5, ol{margin-left: 0; justify-content: center; counter-reset: section; align-items: center; justify-content: center;}
    .TenTracker ol li{display: inline-block; margin: 10px; height: 20px;}
    .TenTracker ol li::before{
        counter-increment: section; 
        content: counter(section) ". ";
        color: gray;
    }
    .score-input{margin-top: 150px; padding-top: 5px;}
}